####################
### Bright  Data ###
####################
api_key=XXXXXXX-XXXXXXXXX-XXXXXXXXXX


############################
### Hugging Face api key ###
############################
HF_TOKEN=XXXXXXX-XXXXXXXXX-XXXXXXXXXX
